.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .prod-card {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.prod-box {
  justify-content: center;
  overflow: scroll;
}
.prod-card {
  margin: 1vw;
  background-color: #63b4e0;
  width: 25%;
  height: 25vh;
  border-radius: 10% 30%;
  border-style: outset;
  flex-wrap: nowrap;
  justify-content: center;
}